/**********************************************************
 * Stylesheet for the testimonials block
 *********************************************************/
 
 .block-testimonial {
 	padding: 5px;
 }
 
 .block-testimonial img {
 	padding: 3px 5px 0 3px;
	float: left;
 }
 
 .block-testimonial p {
	padding: 5px;
	margin: 0 0 15px 0;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;	
 }
 
 .block-testimonial p img {
 	float: none;
 } 