/*!
Theme Name: Psychic Leslee
Theme URI: http://www.psychicleslee.com
Author: Kricir Media Company
Author URI: http://www.kricir.com
Description: A custom built theme for Psychic Leslee by Kricir Media Company
Version: 1.0
*/
@font-face {
  font-family: "DancingScript";
  src: url('../fonts/dancingscript-regular-webfont.ttf') format('truetype'), url('../fonts/dancingscript-regular-webfont.woff') format('woff'), url('../fonts/dancingscript-regular-webfont.svg') format('svg'), url('../fonts/dancingscript-regular-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "Ubuntu";
  src: url('../fonts/ubuntu-r-webfont.ttf') format('truetype'), url('../fonts/ubuntu-r-webfont.woff') format('woff'), url('../fonts/ubuntu-r-webfont.svg') format('svg'), url('../fonts/ubuntu-r-webfont.eot') format('embedded-opentype');
}

/* line 20, ../sass/styles.scss */
body {
  background: #fee9f0;
}
/* line 22, ../sass/styles.scss */
body h1, body h2, body h3 {
  font-family: "DancingScript";
  font-size: 30px;
  color: #ed4fa2;
  font-weight: normal;
}
/* line 28, ../sass/styles.scss */
body h2 {
  font-size: 28px;
}
/* line 32, ../sass/styles.scss */
body h3 {
  font-size: 26px;
}
/* line 36, ../sass/styles.scss */
body h4 {
  font-family: "Ubuntu";
  font-size: 18px;
  color: #ed4fa2;
}
/* line 45, ../sass/styles.scss */
body p, body small, body .metadata, body .radioPair, body .checkboxPair, body address, body li, body label, body td {
  font-family: "Ubuntu";
  font-size: 14px;
  color: #2e2e2e;
}
/* line 50, ../sass/styles.scss */
body small, body .metadata {
  display: block;
  font-size: 12px;
  font-style: italic;
}
/* line 66, ../sass/styles.scss */
body a {
  color: #ed4fa2;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
/* line 69, ../sass/styles.scss */
body a:hover {
  color: #d9167d;
  text-decoration: none;
  border-bottom: 1px dashed #d9167d;
}
/* line 75, ../sass/styles.scss */
body a img:hover {
  text-decoration: none;
  border: none;
}
/* line 81, ../sass/styles.scss */
body i, body em {
  font-style: italic;
}
/* line 84, ../sass/styles.scss */
body strong, body b {
  font-weight: bold;
}
/* line 89, ../sass/styles.scss */
body form .field {
  margin: 0px 0px 5px;
}
/* line 93, ../sass/styles.scss */
body input[type=text]:focus, body input[type=tel]:focus, body input[type=email]:focus, body input[type=url]:focus, body input[type=password]:focus, body input.hasDatepicker:focus, body textarea:focus {
  border: 1px solid #ed4fa2;
  outline: 0;
  -webkit-box-shadow: #ed4fa2 0px 0px 5px;
  -moz-box-shadow: #ed4fa2 0px 0px 5px;
  box-shadow: #ed4fa2 0px 0px 5px;
}
/* line 100, ../sass/styles.scss */
body select:focus {
  border: 1px solid #ed4fa2;
  outline: 0;
  -webkit-box-shadow: #ed4fa2 0px 0px 5px;
  -moz-box-shadow: #ed4fa2 0px 0px 5px;
  box-shadow: #ed4fa2 0px 0px 5px;
}
/* line 106, ../sass/styles.scss */
body .radioPair {
  margin: 0px 0px 0px 20px;
}
/* line 109, ../sass/styles.scss */
body .radioPair input[type=radio] {
  position: relative;
}
/* line 117, ../sass/styles.scss */
body .radioPair input[type=radio]:focus {
  border: 1px solid #ed4fa2;
  outline: 0;
  -webkit-box-shadow: #ed4fa2 0px 0px 5px;
  -moz-box-shadow: #ed4fa2 0px 0px 5px;
  box-shadow: #ed4fa2 0px 0px 5px;
}
/* line 124, ../sass/styles.scss */
body .checkboxPair {
  margin: 0px 0px 0px 20px;
}
/* line 127, ../sass/styles.scss */
body .checkboxPair input[type=checkbox] {
  position: relative;
}
/* line 135, ../sass/styles.scss */
body .checkboxPair input[type=checkbox]:focus {
  border: 1px solid #ed4fa2;
  outline: 0;
  -webkit-box-shadow: #ed4fa2 0px 0px 5px;
  -moz-box-shadow: #ed4fa2 0px 0px 5px;
  box-shadow: #ed4fa2 0px 0px 5px;
}
/* line 142, ../sass/styles.scss */
body input[type=submit], body input[type=button], body .btn {
  background: #ed4fa2;
  color: white;
  padding: 5px 15px;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: #f9cbdd 0px 2px 0px;
  -moz-box-shadow: #f9cbdd 0px 2px 0px;
  box-shadow: #f9cbdd 0px 2px 0px;
}
/* line 149, ../sass/styles.scss */
body input[type=submit]:hover, body input[type=button]:hover, body .btn:hover {
  color: white;
  background: #ed4fa2;
}
/* line 153, ../sass/styles.scss */
body input[type=submit]:focus, body input[type=button]:focus, body .btn:focus {
  color: white;
  background: #ed4fa2;
  outline: none;
}
/* line 159, ../sass/styles.scss */
body .ccm-required, body .required {
  color: #ed1c24;
}
/* line 162, ../sass/styles.scss */
body .themecolor {
  color: #ed4fa2;
}
/* line 165, ../sass/styles.scss */
body object {
  display: none;
}

/* line 172, ../sass/styles.scss */
header {
  border-top: 10px solid #ed4fa2;
  height: 100px;
}
/* line 175, ../sass/styles.scss */
header .logo {
  width: 358px;
  height: 249px;
  position: absolute;
  left: 50%;
  margin-left: -179px;
  z-index: 5;
  background: url('../images/logoBG.png?1385064658') bottom center no-repeat;
}
/* line 184, ../sass/styles.scss */
header .logo a:hover {
  border: none;
}
/* line 188, ../sass/styles.scss */
header .logo img {
  display: block;
  margin: 20px auto 0px;
}
/* line 192, ../sass/styles.scss */
header .logo p, header .logo body small, body header .logo small, header .logo body .metadata, body header .logo .metadata, header .logo body .radioPair, body header .logo .radioPair, header .logo body .checkboxPair, body header .logo .checkboxPair {
  font-family: "DancingScript";
  font-size: 20px;
  text-align: center;
  color: #7f113d;
  margin: 0;
  position: absolute;
  top: 150px;
  left: 100px;
  -webkit-transform: rotate(-16.5deg);
  -moz-transform: rotate(-16.5deg);
  -ms-transform: rotate(-16.5deg);
  -o-transform: rotate(-16.5deg);
  transform: rotate(-16.5deg);
}
/* line 202, ../sass/styles.scss */
header .logo p:last-child, header .logo body small:last-child, body header .logo small:last-child, header .logo body .metadata:last-child, body header .logo .metadata:last-child, header .logo body .radioPair:last-child, body header .logo .radioPair:last-child, header .logo body .checkboxPair:last-child, body header .logo .checkboxPair:last-child {
  top: 155px;
  left: 193px;
}
@media screen and (max-width: 357px) {
  /* line 202, ../sass/styles.scss */
  header .logo p:last-child, header .logo body small:last-child, body header .logo small:last-child, header .logo body .metadata:last-child, body header .logo .metadata:last-child, header .logo body .radioPair:last-child, body header .logo .radioPair:last-child, header .logo body .checkboxPair:last-child, body header .logo .checkboxPair:last-child {
    top: 160px;
    left: 175px;
  }
}
@media screen and (max-width: 357px) {
  /* line 175, ../sass/styles.scss */
  header .logo {
    width: 100%;
    left: 0;
    margin: 0;
  }
}
/* line 219, ../sass/styles.scss */
header .mainNav ul {
  list-style: none;
  margin: 0;
}
/* line 222, ../sass/styles.scss */
header .mainNav ul li {
  display: inline;
  line-height: 100px;
}
/* line 225, ../sass/styles.scss */
header .mainNav ul li a {
  font-family: "DancingScript";
  font-size: 26px;
  padding-bottom: 10px;
}
/* line 229, ../sass/styles.scss */
header .mainNav ul li a.nav-selected, header .mainNav ul li a.nav-path-selected, header .mainNav ul li a:hover {
  border: none;
  background: url('../images/menuActive.png?1384888940') bottom center no-repeat;
}
/* line 237, ../sass/styles.scss */
header .mainNav.leftNav li {
  margin-right: 13px;
}
/* line 239, ../sass/styles.scss */
header .mainNav.leftNav li:last-child {
  margin: 0;
}
/* line 245, ../sass/styles.scss */
header .mainNav.rightNav ul {
  text-align: right;
}
/* line 247, ../sass/styles.scss */
header .mainNav.rightNav ul li {
  margin-left: 18px;
}
/* line 249, ../sass/styles.scss */
header .mainNav.rightNav ul li:first-child {
  margin: 0;
}
/* line 256, ../sass/styles.scss */
header .mobileNavButton {
  position: absolute;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "DancingScript";
  color: white;
  background: #ed4fa2;
  z-index: 10;
  top: 42px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 0px #f9cbdd;
  -moz-box-shadow: 0px 3px 0px #f9cbdd;
  box-shadow: 0px 3px 0px #f9cbdd;
}
/* line 267, ../sass/styles.scss */
header .mobileNavButton:hover {
  border: none;
  color: white;
}

/* line 275, ../sass/styles.scss */
.mm-list > li > a {
  color: #f9cbdd;
}
/* line 277, ../sass/styles.scss */
.mm-list > li > a:hover {
  color: #ed4fa2;
  border: none;
  background: transparent;
}

/* line 285, ../sass/styles.scss */
.feature {
  min-height: 75px;
  padding: 25px 0px 0px;
  background: url('../images/headerBG.png?1384886138') top left repeat-x, url('../images/slideBG.png?1384886725') bottom left repeat-x, #4d4d4d;
}
/* line 289, ../sass/styles.scss */
.feature .telephone {
  background: url('../images/phoneIcon.png?1384888940') center left no-repeat;
}
/* line 291, ../sass/styles.scss */
.feature .telephone h5 {
  font-family: "Ubuntu";
  font-size: 26px;
  font-weight: normal;
  color: #fef5f8;
  line-height: 50px;
  padding-left: 90px;
  margin: 0;
}
/* line 302, ../sass/styles.scss */
.feature .social ul {
  margin: 0;
  text-align: right;
}
/* line 305, ../sass/styles.scss */
.feature .social ul li {
  display: inline;
  line-height: 50px;
  margin-left: 10px;
}
/* line 312, ../sass/styles.scss */
.feature .slideContainer {
  background: url('../images/slideShadow.png?1384888941') bottom center no-repeat;
  padding-bottom: 70px;
  margin-top: 25px;
}
/* line 316, ../sass/styles.scss */
.feature .slideContainer .carousel {
  margin-bottom: 0;
}
/* line 319, ../sass/styles.scss */
.feature .slideContainer .slide {
  border: 10px solid white;
}
/* line 321, ../sass/styles.scss */
.feature .slideContainer .slide .carousel-caption {
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0;
}
/* line 325, ../sass/styles.scss */
.feature .slideContainer .slide .carousel-caption p, .feature .slideContainer .slide .carousel-caption body small, body .feature .slideContainer .slide .carousel-caption small, .feature .slideContainer .slide .carousel-caption body .metadata, body .feature .slideContainer .slide .carousel-caption .metadata, .feature .slideContainer .slide .carousel-caption body .radioPair, body .feature .slideContainer .slide .carousel-caption .radioPair, .feature .slideContainer .slide .carousel-caption body .checkboxPair, body .feature .slideContainer .slide .carousel-caption .checkboxPair {
  font-family: "DancingScript";
  font-size: 28px;
  color: #ed4fa2;
  margin: 0;
  line-height: 40px;
}
/* line 333, ../sass/styles.scss */
.feature .slideContainer .slide .carousel-control {
  top: 50%;
}
/* line 335, ../sass/styles.scss */
.feature .slideContainer .slide .carousel-control:hover {
  border-bottom: 3px solid white;
}

/* line 342, ../sass/styles.scss */
.trunk {
  padding-top: 80px;
  padding-bottom: 40px;
  background: url('../images/trunkTopBG.png?1391576785') top left no-repeat, url('../images/trunkBottomBG.png?1391576804') bottom right no-repeat;
}
/* line 346, ../sass/styles.scss */
.trunk.home {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  /* line 346, ../sass/styles.scss */
  .trunk.home {
    padding-top: 80px;
  }
}
/* line 353, ../sass/styles.scss */
.trunk .callOuts {
  margin-bottom: 20px;
}
/* line 355, ../sass/styles.scss */
.trunk .callOuts img {
  width: 207px;
  height: 207px;
  -webkit-mask-box-image: url("../images/featuresMask.png");
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
/* line 363, ../sass/styles.scss */
.trunk .sidebar .pageButton {
  display: block;
  width: 100%;
  background: #ed4fa2;
  padding: 10px 0px;
  margin-top: 15px;
  color: white;
  text-align: center;
  -webkit-box-shadow: 0px 3px 0px #f9cbdd;
  -moz-box-shadow: 0px 3px 0px #f9cbdd;
  box-shadow: 0px 3px 0px #f9cbdd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 373, ../sass/styles.scss */
.trunk .sidebar .pageButton:hover {
  border: none;
}
/* line 376, ../sass/styles.scss */
.trunk .sidebar .pageButton.btn-prayer {
  background: url('../images/prayerButtonHands.png?1384888941') bottom left no-repeat #ed4fa2;
}
/* line 379, ../sass/styles.scss */
.trunk .sidebar .pageButton .buttonTitle {
  font-family: "DancingScript";
  font-size: 22px;
  color: white;
  display: block;
  margin-bottom: 5px;
}
/* line 388, ../sass/styles.scss */
.trunk .sidebar .number_psychic a, .trunk .sidebar .tarot-reader a {
  text-decoration: none;
  border: none;
}
/* line 392, ../sass/styles.scss */
.trunk .sidebar .number_psychic a img:hover, .trunk .sidebar .tarot-reader a img:hover {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  /* line 387, ../sass/styles.scss */
  .trunk .sidebar .number_psychic, .trunk .sidebar .tarot-reader {
    display: none;
  }
}
/* line 401, ../sass/styles.scss */
.trunk .sidebar .readerSidebarList {
  list-style: none;
  margin: 0;
}
/* line 404, ../sass/styles.scss */
.trunk .sidebar .readerSidebarList li {
  float: right;
  margin-bottom: 20px;
}
/* line 407, ../sass/styles.scss */
.trunk .sidebar .readerSidebarList li:nth-child(odd) {
  float: left;
}
/* line 410, ../sass/styles.scss */
.trunk .sidebar .readerSidebarList li a {
  text-decoration: none;
  border: none;
}
/* line 414, ../sass/styles.scss */
.trunk .sidebar .readerSidebarList li img {
  -webkit-mask-box-image: url("../images/sidebarReaderMask.png");
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
/* line 421, ../sass/styles.scss */
.trunk .psychics {
  text-align: center;
}
/* line 423, ../sass/styles.scss */
.trunk .psychics img {
  -webkit-mask-box-image: url("../images/featuresMask.png");
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
/* line 427, ../sass/styles.scss */
.trunk .psychics h3 {
  text-align: center;
}
/* line 432, ../sass/styles.scss */
.trunk .mainContent header {
  border: none;
}
/* line 434, ../sass/styles.scss */
.trunk .mainContent header.readerMeta {
  height: auto;
  margin-top: 60px;
}
/* line 437, ../sass/styles.scss */
.trunk .mainContent header.readerMeta h1, .trunk .mainContent header.readerMeta body h2, body .trunk .mainContent header.readerMeta h2, .trunk .mainContent header.readerMeta body h3, body .trunk .mainContent header.readerMeta h3 {
  font-size: 80px;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  /* line 437, ../sass/styles.scss */
  .trunk .mainContent header.readerMeta h1, .trunk .mainContent header.readerMeta body h2, body .trunk .mainContent header.readerMeta h2, .trunk .mainContent header.readerMeta body h3, body .trunk .mainContent header.readerMeta h3 {
    font-size: 55px;
  }
}
@media screen and (max-width: 767px) {
  /* line 434, ../sass/styles.scss */
  .trunk .mainContent header.readerMeta {
    margin-top: 0;
    text-align: center;
  }
}
/* line 449, ../sass/styles.scss */
.trunk .mainContent header .btn-video {
  font-family: "DancingScript";
  font-size: 22px;
  padding: 10px 50px;
}
@media screen and (max-width: 767px) {
  /* line 449, ../sass/styles.scss */
  .trunk .mainContent header .btn-video {
    display: none;
  }
}
/* line 458, ../sass/styles.scss */
.trunk .mainContent .readerImage {
  margin-bottom: 20px;
}
/* line 460, ../sass/styles.scss */
.trunk .mainContent .readerImage img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  overflow: hidden;
  -webkit-mask-box-image: url("../images/psychicMask.png");
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
/* line 471, ../sass/styles.scss */
.trunk .mainContent form td {
  display: block;
}

/* line 477, ../sass/styles.scss */
footer {
  background: #4d4d4d;
  padding: 40px 0px;
}
/* line 480, ../sass/styles.scss */
footer h4 {
  margin: 0;
  padding: 0px 0px 15px;
  border-bottom: 1px dashed #ed4fa2;
}
/* line 486, ../sass/styles.scss */
footer .menu ul {
  list-style: none;
  margin: 0;
}
/* line 489, ../sass/styles.scss */
footer .menu ul li {
  border-bottom: 1px dashed #f9cbdd;
}
/* line 491, ../sass/styles.scss */
footer .menu ul li a {
  color: #f9cbdd;
  line-height: 40px;
}
/* line 494, ../sass/styles.scss */
footer .menu ul li a:hover {
  color: #ed4fa2;
  background: transparent;
  border: none;
}
@media screen and (max-width: 767px) {
  /* line 485, ../sass/styles.scss */
  footer .menu {
    display: none;
  }
}
/* line 506, ../sass/styles.scss */
footer .ccm-form {
  margin-top: 7px;
}
/* line 508, ../sass/styles.scss */
footer .ccm-form input, footer .ccm-form textarea, footer .ccm-form select {
  background: #232323;
  border: none;
  color: rgba(255, 255, 255, 0.5);
}
/* line 512, ../sass/styles.scss */
footer .ccm-form input:focus, footer .ccm-form textarea:focus, footer .ccm-form select:focus {
  border: 1px solid #f9cbdd;
  outline: 0;
  -webkit-box-shadow: #f9cbdd 0px 0px 5px;
  -moz-box-shadow: #f9cbdd 0px 0px 5px;
  box-shadow: #f9cbdd 0px 0px 5px;
}
@media screen and (max-width: 767px) {
  /* line 508, ../sass/styles.scss */
  footer .ccm-form input, footer .ccm-form textarea, footer .ccm-form select {
    width: 96%;
    padding: 2%;
    margin-bottom: 15px;
  }
}
/* line 523, ../sass/styles.scss */
footer .ccm-form input[type=submit] {
  background: #ed4fa2;
  color: white;
  float: right;
  padding: 5px 15px;
  -webkit-box-shadow: #f9cbdd 0px 2px 0px;
  -moz-box-shadow: #f9cbdd 0px 2px 0px;
  box-shadow: #f9cbdd 0px 2px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  /* line 532, ../sass/styles.scss */
  footer .ccm-form select {
    width: 100%;
  }
  /* line 535, ../sass/styles.scss */
  footer .ccm-form input[type=submit] {
    width: 100%;
  }
}

/* line 541, ../sass/styles.scss */
.copy {
  background: #ed4fa2;
}
/* line 543, ../sass/styles.scss */
.copy p, .copy body small, body .copy small, .copy body .metadata, body .copy .metadata, .copy body .radioPair, body .copy .radioPair, .copy body .checkboxPair, body .copy .checkboxPair {
  color: white;
  text-align: center;
  line-height: 50px;
  margin: 0;
}
/* line 548, ../sass/styles.scss */
.copy p a, .copy body small a, body .copy small a, .copy body .metadata a, body .copy .metadata a, .copy body .radioPair a, body .copy .radioPair a, .copy body .checkboxPair a, body .copy .checkboxPair a {
  color: white;
}
/* line 550, ../sass/styles.scss */
.copy p a:hover, .copy body small a:hover, body .copy small a:hover, .copy body .metadata a:hover, body .copy .metadata a:hover, .copy body .radioPair a:hover, body .copy .radioPair a:hover, .copy body .checkboxPair a:hover, body .copy .checkboxPair a:hover {
  color: white;
  border-color: white;
}
@media screen and (max-width: 767px) {
  /* line 543, ../sass/styles.scss */
  .copy p, .copy body small, body .copy small, .copy body .metadata, body .copy .metadata, .copy body .radioPair, body .copy .radioPair, .copy body .checkboxPair, body .copy .checkboxPair {
    line-height: inherit;
    padding: 20px 0;
  }
}
