/*!
Theme Name: Psychic Leslee
Theme URI: http://www.psychicleslee.com
Author: Kricir Media Company
Author URI: http://www.kricir.com
Description: A custom built theme for Psychic Leslee by Kricir Media Company
Version: 1.0
*/

@import "compass";
@include font-face("DancingScript", font-files("dancingscript-regular-webfont.ttf", "dancingscript-regular-webfont.woff", "dancingscript-regular-webfont.svg", "dancingscript-regular-webfont.eot"));
@include font-face("Ubuntu", font-files("ubuntu-r-webfont.ttf", "ubuntu-r-webfont.woff", "ubuntu-r-webfont.svg", "ubuntu-r-webfont.eot"));

$themecolor: rgba(237,79,162,1);
$light_themecolor: rgba(249,203,221,1);
$white: rgba(255,255,255,1);
$gray: rgba(77,77,77,1);
$darkgray: rgba(46,46,46,1);

body {
    background: rgba(254,233,240,1);
	h1 {
        font-family: "DancingScript";
        font-size: 30px;
        color: $themecolor;
        font-weight: normal;
	}
	h2 {
        @extend h1;
        font-size: 28px;
	}
	h3 {
        @extend h1;
        font-size: 26px;
	}
	h4 {
        font-family: "Ubuntu";
        font-size: 18px;
        color: $themecolor;
	}
	h5 {
	}
	h6 {
	}
	p, address, li, label, td {
        font-family: "Ubuntu";
        font-size: 14px;
        color: $darkgray;
	}
	small, .metadata {
		@extend p !optional;
		display: block;
		font-size: 12px;
		font-style: italic;
	}
	label {
	}
	table {
	}
	thead {
		td {
		}
	}
	td {
	}
	a {
        color: $themecolor;
		@include transition(color .25s);
		&:hover {
            color: darken($themecolor, 15%);
            text-decoration: none;
            border-bottom: 1px dashed darken($themecolor, 15%);
		}
        img {
            &:hover {
                text-decoration: none;
                border: none;
            }
        }
	}
	i, em {
		font-style: italic;
	}
	strong, b {
		font-weight: bold;
	}
	hr {
	}
	form .field {
		margin: 0px 0px 5px;
	}
	input[type=text], input[type=tel], input[type=email], input[type=url], input[type=password], input.hasDatepicker, textarea {
        &:focus {
            border: 1px solid $themecolor;
            outline: 0;
            @include box-shadow($themecolor 0px 0px 5px);
        }
	}
	select {
        &:focus {
            border: 1px solid $themecolor;
            outline: 0;
            @include box-shadow($themecolor 0px 0px 5px);
        }
	}
	.radioPair {
		@extend p !optional;
		margin: 0px 0px 0px 20px;
		input[type=radio] {
			position: relative;
			&:after {
			}
			&:checked {
				&:after {
				}
			}
            &:focus {
                border: 1px solid $themecolor;
                outline: 0;
                @include box-shadow($themecolor 0px 0px 5px);
            }
		}
	}
	.checkboxPair {
		@extend p !optional;
		margin: 0px 0px 0px 20px;
		input[type=checkbox] {
			position: relative;
			&:after {
			}
			&:checked {
				&:after {
				}
			}
            &:focus {
                border: 1px solid $themecolor;
                outline: 0;
                @include box-shadow($themecolor 0px 0px 5px);
            }
		}
	}
	input[type=submit], input[type=button], .btn {
        background: $themecolor;
        color: $white;
        padding: 5px 15px;
        border: none;
        @include text-shadow(none);
        @include box-shadow($light_themecolor 0px 2px 0px);
        &:hover {
            color: $white;
            background: $themecolor;
        }
		&:focus {
            color: $white;
            background: $themecolor;
			outline: none;
		}
	}
	.ccm-required, .required {
		color: rgba(237,28,36,1);
	}
	.themecolor {
		color: $themecolor;
	}
    object {
        display: none;
    }
    // .container {
    //     max-width: 940px;
    // }
}
header {
    border-top: 10px solid $themecolor;
    height: 100px;
    .logo {
        width: 358px;
        height: 249px;
        position: absolute;
        left: 50%;
        margin-left: -179px;
        z-index: 5;
        @include background(image-url('logoBG.png') bottom center no-repeat);
        a {
            &:hover {
                border: none;
            }
        }
        img {
            display: block;
            margin: 20px auto 0px;
        }
        p {
            font-family: "DancingScript";
            font-size: 20px;
            text-align: center;
            color: rgba(127,17,61,1);
            margin: 0;
            position: absolute;
            top: 150px;
            left: 100px;
            @include rotate(-16.5deg);
            &:last-child {
                top: 155px;
                left: 193px;
                @media screen and (max-width: 357px) {
                    top: 160px;
                    left: 175px;
                }
            }
            
        }
        @media screen and (max-width: 357px) {
            width: 100%;
            left: 0;
            margin: 0;
        }
    }
    .mainNav {
        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline;
                line-height: 100px;
                a {
                    font-family: "DancingScript";
                    font-size: 26px;
                    padding-bottom: 10px;
                    &.nav-selected, &.nav-path-selected, &:hover {
                        border: none;
                        @include background(image-url('menuActive.png') bottom center no-repeat);
                    }
                }
            }
        }
        &.leftNav { 
            li {
                margin-right: 13px;
                &:last-child {
                    margin: 0;
                }
            }
        }
        &.rightNav {
            ul {
                text-align: right;
                li {
                    margin-left: 18px;
                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }
    }
    .mobileNavButton {
        position: absolute;
        padding: 5px 10px;
        font-size: 20px;
        font-family: "DancingScript";
        color: $white;
        background: $themecolor;
        z-index: 10;
        top: 42px;
        @include border-radius(4px);
        @include box-shadow(0px 3px 0px $light_themecolor);
        &:hover {
            border: none;
            color: $white;
        }
    }
}
.mm-list {
    > li {
        > a {
            color: $light_themecolor;
            &:hover {
                color: $themecolor;
                border: none;
                background: transparent;
            }
        }
    }
}
.feature {
    min-height: 75px;
    padding: 25px 0px 0px;
    @include background(image-url('headerBG.png') top left repeat-x, image-url('slideBG.png') bottom left repeat-x, $gray);
    .telephone {
        @include background(image-url('phoneIcon.png') center left no-repeat);
        h5 {
            font-family: "Ubuntu";
            font-size: 26px;
            font-weight: normal;
            color: rgba(254,245,248,1);
            line-height: 50px;
            padding-left: 90px;
            margin: 0;
        }
    }
    .social {
        ul {
            margin: 0;
            text-align: right;
            li {
                display: inline;
                line-height: 50px;
                margin-left: 10px;
            }
        }
    }
    .slideContainer {
        @include background(image-url('slideShadow.png') bottom center no-repeat);
        padding-bottom: 70px;
        margin-top: 25px;
        .carousel {
            margin-bottom: 0;
        }
        .slide {
            border: 10px solid rgba(255,255,255,1);
            .carousel-caption {
                background: rgba(255,255,255,.8);
                text-align: center;
                padding: 0;
                p {
                    font-family: "DancingScript";
                    font-size: 28px;
                    color: $themecolor;
                    margin: 0;
                    line-height: 40px;
                }
            }
            .carousel-control {
                top: 50%;
                &:hover {
                    border-bottom: 3px solid rgba(255,255,255,1);
                }
            }
        }
    }
}
.trunk {
    padding-top: 80px;
    padding-bottom: 40px;
    @include background(image-url('trunkTopBG.png') top left no-repeat, image-url('trunkBottomBG.png') bottom right no-repeat);
    &.home {
        padding-top: 40px;
        padding-bottom: 40px;
        @media screen and (max-width: 767px) {
            padding-top: 80px;
        }
    }
    .callOuts {
        margin-bottom: 20px;
        img {
            width: 207px;
            height: 207px;
            -webkit-mask-box-image: url('../images/featuresMask.png');
            @include border-radius(500px);
        }
    }
    .sidebar {
        .pageButton {
            display: block;
            width: 100%;
            background: $themecolor;
            padding: 10px 0px;
            margin-top: 15px;
            color: $white;
            text-align: center;
            @include box-shadow(0px 3px 0px $light_themecolor);
            @include border-radius(4px);
            &:hover {
                border: none;
            }
            &.btn-prayer {
                @include background(image-url('prayerButtonHands.png') bottom left no-repeat $themecolor);
            }
            .buttonTitle {
                font-family: "DancingScript";
                font-size: 22px;
                color: white;
                display: block;
                margin-bottom: 5px;
            }
        }
        .number_psychic, .tarot-reader {
            a {
                text-decoration: none;
                border: none;
                img {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
        .readerSidebarList {
            list-style: none;
            margin: 0;
            li {
                float: right;
                margin-bottom: 20px;
                &:nth-child(odd) {
                    float: left;
                }
                a {
                    text-decoration: none;
                    border: none;
                }
                img {
                    -webkit-mask-box-image: url('../images/sidebarReaderMask.png');
                    @include border-radius(500px);
                }
            }
        }
    }
    .psychics {
        text-align: center;
        img {
            -webkit-mask-box-image: url('../images/featuresMask.png');
            @include border-radius(500px);
        }
        h3 {
            text-align: center;
        }
    }
    .mainContent {
        header {
            border: none;
            &.readerMeta {
                height: auto;
                margin-top: 60px;
                h1 {
                    font-size: 80px;
                    line-height: normal;
                    @media screen and (max-width: 767px) {
                        font-size: 55px;
                    }
                }
                @media screen and (max-width: 767px) {
                    margin-top: 0;
                        text-align: center;
                }
            }
            .btn-video {
                font-family: "DancingScript";
                font-size: 22px;
                padding: 10px 50px;
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
        .readerImage {
            margin-bottom: 20px;
            img {
                width: 100%;
                max-width: 300px;
                height: 100%;
                max-height: 300px;
                overflow: hidden;
                -webkit-mask-box-image: url('../images/psychicMask.png');
                @include border-radius(500px);  
            }
        }
        form {
            td {
                display: block;
            }
        }
    }
}
footer {
    background: $gray;
    padding: 40px 0px;
    h4 {
        margin: 0;
        padding: 0px 0px 15px;
        border-bottom: 1px dashed $themecolor;
    }
    .menu {
        ul {
            list-style: none;
            margin: 0;
            li {
                border-bottom: 1px dashed $light_themecolor;
                a {
                    color: $light_themecolor;
                    line-height: 40px;
                    &:hover {
                        color: $themecolor;
                        background: transparent;
                        border: none;
                    }
                }
            }
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    .ccm-form {
        margin-top: 7px;
        input, textarea, select {
            background: rgba(35,35,35,1);
            border: none;
            color: rgba(255,255,255,.5);
            &:focus {
                border: 1px solid $light_themecolor;
                outline: 0;
                @include box-shadow($light_themecolor 0px 0px 5px);
            }
            @media screen and (max-width: 767px) {
                width: 96%;
                padding: 2%;
                margin-bottom: 15px;
            }
        }
        input[type=submit] {
            background: $themecolor;
            color: $white;
            float: right;
            padding: 5px 15px;
            @include box-shadow($light_themecolor 0px 2px 0px);
            @include border-radius(4px);
        }
        @media screen and (max-width: 767px) {
            select {
                width: 100%;
            }
            input[type=submit] {
                width: 100%;
            }
        }
    }
}
.copy {
    background: $themecolor;
    p {
        color: rgba(255,255,255,1);
        text-align: center;
        line-height: 50px;
        margin: 0;
        a {
            color: rgba(255,255,255,1);
            &:hover {
                color: rgba(255,255,255,1);
                border-color: rgba(255,255,255,1);
            }
        }
        @media screen and (max-width: 767px) {
            line-height: inherit;
            padding: 20px 0;
        }
    }
}
    
    