.modal-body {
	min-height: 430px;
}
.choose {
	position: relative;
	min-height: 430px;
	overflow: hidden;
}

/*.tarotCard {
	position: absolute;
	top: 0;
	left: 0;
}*/

.modal-body .tarotCard img {
	position: absolute;
	margin: auto;
	top: 0;
	/*left: 0;*/
	height: 400px;
	width: auto;
}

.aceofcu,
.suncard,
.thelove,
.themagi,
.thestar,
.wheel,
.world,
.x {
	display: none;
}

figure.card {
	width: 40%;
	float: left;
	margin: 0;
	padding-top: 15px;
}

article.definition {
	width: 55%;
	float: right;
	margin: 0;
}

figure img {
	width: 100%;
}

figure.psychicImage {
	/*width: 45%;*/
	float: right;
	margin: 15px 0 0;
}

figure.psychicImage img {
	width: 30%;
	height: auto;
	float: left;
	margin-right: 10px;
}

figure.psychicImage h4 {
	text-align: center;
}