.modal-body img {
	display: block;
	width: 360px;
	margin: 0 auto;
}
.psychic-test {
	position: absolute;
	top: 17px;
	left: 177px;
	text-align: center;
	height: 200px;
	width: 192px;
	background: rgba(255,255,255,.6);
	border-radius: 100px;
}
.psychic-test span {
	width: 120px;
	height: 100px;
	font-weight: bold;
	color: rgba(237,79,162,1);
	font-size: 16px;
	display: block;
	margin: 70px auto 0;
}